#notxtdecor,
#notxtdecor:active {
  text-decoration: none;
}

a[href="meetup.html"],
a[href="join.html"] {
  text-decoration: none;
}

a[href="meetup.html"] {
  color: white;
}

.button {
  text-align: right;
}